//
   Created by igor on 03.04.2015.
doctype html
html
   head
      title title
      script( type="text/javascript" src="/socket.io/socket.io.js" )
      script(type='text/javascript')
         !='window.onload=function(){\n'
         !='var socket = io(window.location.origin);\n'
         !='socket.on("cmd", function(msg){window.callPhantom(msg);});\n'
         !='window.socket = socket;\n'
         !='};'
   body
      h1 AAAAAAA